<article class="{{style}}">
	<span class="image">
		<img src="{{img}}" alt="">
	</span>
	<a href="generic.html">
		<h2>{{thumbnailTitle}}</h2>
		<div class="content">
			<p>{{thumbnailParagraph}}</p>
		</div>
	</a>
</article>
